<ion-view view-title="{{ 'mm.settings.about' | translate }}" >
    <ion-content>
        <div class="list">
            <li class="item">
                <h2>{{appname}}</h2>
            </li>
            <li class="item item-divider">
                <p>{{ 'mm.settings.license' | translate }}</p>
            </li>
            <li class="item item-text-wrap">
                <p>Desarrollado por el Centro de Investigacion, Innovación, Desarrollo y Transferencia de Tecnologia de la Universidad de Caldas, en base al proyecto Moodle Mobile 2.</p>
            </li>
        </div>
    </ion-content>
</ion-view>
